.wrapper-all-dash {
  margin: 20px 0;
}
.wrapper-dashcard {
  width: 240px;
}

.wrapper-dashcard-odd {
  float: right;
}

.dashcard-tread {
  border: solid 3px #03a9f4 !important;
  box-shadow: 0 5px 30px rgba(38, 115, 193, 0.18) !important;
}
