@mixin max-size() {
  width: 100%;
  height: 100%;
}

@mixin min-height() {
  min-height: 100%;
}

html, body, #__next {
  @include max-size;
}


.layout {
  height: auto;
  @include max-size;
  @include min-height;
}
