.show-grid{
  padding-top: 20px;
}

.topGraphicTitles {
  padding: 0 20px;
  .title {
    color: #034c7b;
    font-size: 28px;
    display: inline-block;
  }
  .subtitle {
    color: #034c7b;
    font-size: 14px;
    font-weight: 200;
    width: 110px;
    padding-left: 19px;
    display: inline-block;
  }
}

.topGraphicTitles.topGraphicTitlesDonuths {
  padding: 0 7px;
}


.ether-rewards {
  color: #034c7b;
  font-size: 48px;
  font-weight: bold;
  display: block;
}

.ether-rewards-title {
  color: #034c7b;
  font-size: 14px;
}
