
.listContainer{
  padding: 0px 20px 0px 20px;
    border-left: solid 1px #fff;
    border-right: solid 1px #fff;
    text-align: left;
}
.ulFooter {
  list-style-type: none;
  text-align: left;
  margin: 0;
  -webkit-app-region: #fff;
  padding: 20px;
}

.ulFooter > li > a{
  color: #fff;
}



#Footer{
  bottom: 0;
    position: fixed;
    width: 100vw;
    padding: 20px;
    background: #241f41;
    opacity: 0.48;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}